{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="pt-24 pb-32">
  <div class="container-lg max-w-screen-xl">
    <!-- Theme title -->
    <div class="row g-6 align-items-center">
      <div class="col-lg-7 mx-auto text-lg-center">
        <!-- Title -->
        <h1 class="ls-tight font-bolder display-4 mb-7">
          Start your adventure as a software developer
        </h1>
        <!-- Text -->
        <p class="lead mb-12">
          Learn how to prepare, design and develop softwares applications basing
          each design in your stile and needs.
        </p>
        <!-- Form -->
        <form class="w-2/3 mx-auto">
          <div class="rounded px-2 py-2 border shadow">
            <div class="row">
              <div class="col">
                <input
                  type="email"
                  name="email"
                  class="form-control pl-3 shadow-none bg-transparent border-0"
                  placeholder="Enter your email address"
                />
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-block btn-dark">
                  Notify me
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %}
